<a href="https://colab.research.google.com/github/Venture-Coding/SUNY-Buffalo-ML-and-self-learning/blob/main/Regression/Random_forest_classifier_cc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Random Forest Classifier

In this lab, we will build a random forest model to predict whether a given customer defaults or not. Credit default is one of the most important problems in the banking and risk analytics industry. There are various attributes which can be used to predict default, such as demographic data (age, income, employment status, etc.), (credit) behavioural data (past loans, payment, number of times a credit payment has been delayed by the customer etc.).

We'll start the process with data cleaning and preparation and then tune the model to find optimal hyperparameters.

### Data Prep n Cleaning

In [15]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [16]:
# Reading the csv file and putting it into 'df' object.
df = pd.read_csv('credit-card-default.csv')
df.head()

   ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  defaulted
0   1      20000    2          2  ...         0         0         0          1
1   2     120000    2          2  ...      1000         0      2000          1
2   3      90000    2          2  ...      1000      1000      5000          0
3   4      50000    2          2  ...      1100      1069      1000          0
4   5      50000    1          2  ...      9000       689       679          0

[5 rows x 25 columns]

so we've all kinds of information on the person's demographic and financial background.

The last column, "defaulted" is our target variable, and we have to learn the pattern of defaulters in order to predict defaulters from any new data that may come in after this analysis.

In [17]:
# Let's understand the type of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
 24  defaulted  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

Since, this set is pretty clean with no null values and uniform entries for all columns. We are saved from any kind of pre-processing, NaN replacement and cleaning.

### Model Building

In [18]:
# Importing test_train_split from sklearn library
from sklearn.model_selection import train_test_split

In [19]:
# Putting feature variable to X
X = df.drop('defaulted',axis=1)

# Putting response variable to y
y = df['defaulted']

# Splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [20]:
# Importing random forest classifier from sklearn library
from sklearn.ensemble import RandomForestClassifier

# Running the random forest with default parameters.
rfc = RandomForestClassifier()

In [21]:
# fitting the model
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
# Making predictions
predictions = rfc.predict(X_test)

In [23]:
# Importing classification report and confusion matrix from sklearn metrics
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score, r2_score

In [24]:
# Let's check the report of our default model
print(classification_report(y_test,predictions))
# Printing confusion matrix
print(confusion_matrix(y_test,predictions))
#Printing accuracy score
print(accuracy_score(y_test,predictions))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      5868
           1       0.66      0.38      0.48      1632

    accuracy                           0.82      7500
   macro avg       0.75      0.66      0.68      7500
weighted avg       0.80      0.82      0.80      7500

[[5546  322]
 [1020  612]]
0.8210666666666666

### Using OOB_Score

There's also a way to understand accuracy, without using the test data, or if we did not have test data.

In [32]:
# Running the random forest with default parameters.
rfc1 = RandomForestClassifier(oob_score=True)

In [33]:
# fitting the model
rfc1.fit(X_train,y_train)
# Making predictions
predictions1 = rfc1.predict(X_test)
#Printing accuracy score
print(accuracy_score(y_test,predictions1))

0.8222666666666667

In [34]:
#Printing OOB score (accuracy using out of bag data for respective member tree)
print(rfc1.oob_score_)

0.8132444444444444

Both these scores are pretty close and give us a more wholesome idea of the accuracy of how the Random Forest Classifier would perform on unseen data.

______________________________________________________________________________________

A Bit of Theory 

Random forests use CART decision tree classifiers [2] as weak learners. In practice Random forests are quite stable with respect to parameter of number of tree estimators.
They are shown to converge asymptotically to the true mean value of the distribution.

https://arxiv.org/pdf/1703.05430.pdf

[2] Breiman, L., H. Friedman, J., A. Olshen, R., J. Stone, C.: Classification and Regression Trees. Chapman and Hall, New York (1984)